* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --green: linear-gradient(to top left, #39b385, #9be15d);
  --yellow: linear-gradient(to top left, #ffb003, #ffcb03);
  --red: linear-gradient(to top left, #e52a5a, #ff585f);
}
body {
  background-color: whitesmoke;
}
.App {
  /* height: 100vh; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background-color: var(--green);
}
.greetings {
  font-size: 1.5rem;
}

.greetings p {
  font-weight: 500;
}

.logo img {
  height: 50px;
}
.login {
  display: flex;
  align-items: center;
  gap: 15px;
  height: fit-content;
}
.login input {
  border: 1px solid #ced4da;
  padding: 8px;
  border-radius: 30px;
  text-align: center;
  width: 50%;
}
.login input:focus {
  border-color: #007bff;
}

.main-wrapper {
  border: 1px solid;
  height: 91.7%;
  display: flex;
  justify-content: center;
}

.main {
  width: 60%;
  padding: 10px;
}

.dateTime {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}
.totalBalance {
  text-align: end;
  border: none;
  font-size: 20px;
}
.date {
  font-size: 14px;
}
.main-content {
  display: flex;
  justify-content: space-between;
}
.main-content .movementList {
  width: 50%;
  padding: 5px;
  margin-top: 30px;
  border-top-left-radius: 10px;
  height: 500px;
  overflow: scroll;
}

.movementList {
  background-color: white;
}

.movement {
  border-bottom: 1px solid rgb(175, 170, 170);
  display: flex;
  justify-content: space-between;
  padding: 20px 15px 20px 0px;
}
.movement div {
  display: flex;
  gap: 10px;
}

.deposit {
  background-image: var(--green);
  padding: 5px;
  border-radius: 15px;
  font-size: 12px;
}
.remove {
  background-image: var(--red);
  padding: 5px;
  border-radius: 15px;
  font-size: 12px;
}

.Userinputs {
  width: 50%;
  padding: 10px;
}
.actions {
  width: 100%;
  padding: 3rem 4rem;
  border-radius: 20px;
  margin-bottom: 20px;
}

.transferMoney span {
  color: #333;
}

.yellow {
  background-image: var(--yellow);
}
.red {
  background-image: var(--red);
}
.green {
  background-image: var(--green);
}
.inputs {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.inputs input {
  width: 50%;
  border: none;
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.4);
}
.transerLabel {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-right: 20px;
}
@media (max-width: 786px) {
  .logo {
    display: none;
  }
  .main {
    width: 109%;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .greetings {
    width: 100%;
    text-align: center;
  }
  .dateTime {
    flex-direction: column;
  }
  .totalBalance {
    text-align: start;
    overflow: hidden;
  }
  .main-content {
    flex-direction: column;
  }
  .main-content .movementList {
    width: 100%;
    font-size: 14px;
  }
  .Userinputs {
    width: 100%;
  }
  .movement div {
    gap: 2px;
  }

  .actions {
    padding: 2rem 1rem;
  }
}
