* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: whitesmoke;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}
.greetings {
  font-size: 1.5rem;
}

.logo img {
  height: 50px;
}
.login {
  display: flex;
  align-items: center;
  gap: 15px;
  height: fit-content;
}
.login input {
  border: 1px solid #ced4da;
  padding: 8px;
  border-radius: 30px;
  text-align: center;
  width: 50%;
}
.login input:focus {
  /* border: none; */
  border-color: #007bff;
}

@media (max-width: 786px) {
  .logo {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: start;
    gap: 30px;
  }
  .greetings {
    width: 100%;
    text-align: center;
  }
}
